@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", system-ui, sans-serif;
}

/* Apply Inter as the default font for the entire app */
body {
  font-family: var(--font-inter);
  /* Optional: Make text rendering smoother */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn {
    @apply text-base font-medium text-black
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.no-scroll {
  overflow: hidden;
}